<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
   
     <class name="BaseTest.VerifyTitlePage"/>
      <class name="BaseTest.HomePageTest"/>
      <class name="BaseTest.GroceryPageTest"/>
      <class name="BaseTest.HeadersPageTest"/>
      <class name="BaseTest.NavigatorTest"/>
      <class name="BaseTest.FooterPageTest"/>
      <class name="BaseTest.ExplorePlusePageTest"/>
     
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
